<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <a href="#">{{ payer }}</a>

<h2>Registrer</h2>
<form  method="post" action="./register.php">
    Surname: <input type="text" name="surname"><br>
    Firstname: <input type="text" name="forname"><br>
    City: <input type="text" name="city"><br>
    Address: <input type="text" name="address"><br>
    Email: <input type="text" name="email"><br>
    Phone: <input type="text" name="phone"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="Adicionar Usuário">
</form>

</body>
</html>
